body,
html {
  margin: 0px;
  scroll-behavior: smooth;
  background-image: url("./Picture/tamako-market-minimalism-artwork-simple-background-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
}

/*Navigation Bar*/

.Navigation {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.Left-title {
  font-size: 30px;
  padding: 30px;
  width: 100%;
  text-align: left;
}

.middle-nav {
  margin-left: -270px;
  font-size: 25px;
  padding: 35px;
  width: 100%;
  text-align: left;
}

.About {
  margin-left: 40px;
}
/*Trailer*/

.Trailer {
  padding: 30px;
  height: 550px;
  background-color: transparent;
}

.Trailer-Title {
  font-size: 48px;
  margin-left: 100px;
}

.Trailer-Box {
  margin-top: 45px;
  margin-left: 180px;
  height: 400px;
  width: 1080px;
  background-color: transparent;
}

.Trailer-Text {
  text-align: center;
  padding: 175px;
  font-size: 35px;
}

.Mini-Line4 {
  padding-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  height: 20px;
  background-color: transparent;
}

.Genre-Sinopsis {
  height: 375px;
  background-color: transparent;
  padding: 25px;
}

.Sinopsis {
  margin-top: 30px;
  margin-left: 100px;
}

.Sinopsis-Title {
  font-size: 48px;
}

.Sinopsis-Text {
  margin-right: 100px;
  font-size: 28px;
  text-align: center;
  font-family: "Imperial Script", cursive;
}

.Sinopsis-Text a {
  font-family: "Imperial Script", cursive;
}

.Mini-Line3 {
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  height: 20px;
  background-color: transparent;
}
